<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div id="loading" style="display: none;">
    <!-- Здесь можете добавить вашу анимацию или изображение загрузки -->
    <h2>
      Подождите! Мы рисуем ваше фото!
    </h2>
</div>
    <header class="header">
        <nav class="navbar">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16">
              <g fill="#252a32" fill-rule="evenodd">
                <path d="M0 0h24v2H0zM0 7h24v2H0zM0 14h24v2H0z" />
              </g>
            </svg>
          </span>
          <h1></h1>
          <div class="menu-wrapper">
            <ul class="menu">
              <li class="menu-block">
                <span class="close-menu">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                    <path
                      fill="#252a32"
                      fill-rule="evenodd"
                      d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z"
                    />
                  </svg>
                </span>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#"><span></span>10 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">907 Поход Олега на Константинополь</a></li>
                  <li class="menu-child-item"><a href="#">911 Второй договор Руси с Византией.</a></li>
                  <li class="menu-child-item"><a href="#">912-945 Княжение Игоря в Киеве.</a></li>
                  <li class="menu-child-item"><a href="#">941 Первый поход князя Игоря на Константинополь</a></li>
                  <li class="menu-child-item"><a href="#">944 Второй поход князя Игоря на Константинополь</a></li>
                  <li class="menu-child-item"><a href="#">945 Поражение дружины князя Игоря. Жестокая казнь Игоря.</a></li>
                  <li class="menu-child-item"><a href="#">945 – 969 Правление Ольги в Киеве </a></li>
                  <li class="menu-child-item"><a href="#">945 — 947 Введены «Уроки» («уставы») и «погосты»</a></li>
                  <li class="menu-child-item"><a href="#">945 – 972 Княжение Святослава Игоревича в Киеве.</a></li>
                  <li class="menu-child-item"><a href="#"> 957 Посольство княгини Ольги в Константинополь</a></li>
                  <li class="menu-child-item"><a href="#">965 Разгром князем Святославом Хазарского каганата</a></li>
                  <li class="menu-child-item"><a href="#">968 – 971 Походы князя Святослава в Дунайскую Болгарию. </a></li>
                  <li class="menu-child-item"><a href="#">968 (969) Разгром печенегов под Киевом.</a></li>
                  <li class="menu-child-item"><a href="#">971	Договор Руси с Византией</a></li>
                  <li class="menu-child-item"><a href="#">972(973) – 980	Междоусобицы в Киеве после убийства печенегами князя Святослава.</a></li>
                  <li class="menu-child-item"><a href="#">980	Создание единого пантеона языческих богов в Киеве.</a></li>
                  <li class="menu-child-item"><a href="#">988 Крещение Руси</a></li>
                  <li class="menu-child-item"><a href="#">990-е гг.	Сооружение в Киеве церкви Успения Богородицы</a></li>
                </ul>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#">13 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">1237 – 1241 Нашествие монголо-татарских войск во главе с ханом Батыем на Русь. Рост военных действий на территории русских княжеств.</a></li>
                  <li class="menu-child-item"><a href="#">1237, дек. Разрушение монголо-татарами Рязани.</a></li>
                  <li class="menu-child-item"><a href="#">1238, янв. – фев Взятие и разрушение монголо-татарами Коломны, Москвы, Владимира, Ростова, Суздаля, Ярославля, Костромы, Углича, Галича, Дмитрова, Твери, Переяславля-Залесского, Юрьева, Торжка и других городов Северо-Восточной Руси.</a></li>
                  <li class="menu-child-item"><a href="#">1240 – 1241 Захват рыцарями Ливонского ордена (основан в 1237 в результате слияния Тевтонского ордена и Ордена меченосцев) русских крепостей Изборск, Псков, Копорье.</a></li>
                  <li class="menu-child-item"><a href="#">1240, сен. – дек. Осада и взятие Киева войсками Батыя.</a></li>
                  <li class="menu-child-item"><a href="#">1240, 15 июл. Невская битва. Разгром войском Александра Ярославича Невского шведского войска.</a></li>
                  <li class="menu-child-item"><a href="#">1242, 5 апр. Разгром войском князя Александра Ярославича Невского рыцарей Ливонского ордена на Чудском озере («Ледовое побоище»).</a></li>
                </ul>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#"><span></span>16 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">1533 – 1584 Великое княжение (с 1547 — царствование) Ивана IV Васильевича Грозного.</a></li>
                  <li class="menu-child-item"><a href="#">1547, 7 янв. Венчание Ивана IV на царство, официальное принятие Иваном IV титула «царя и великого князя всея Руси».</a></li>
                  <li class="menu-child-item"><a href="#">1549 Созыв Земского собора. Создание системы приказов.</a></li>
                  <li class="menu-child-item"><a href="#">1550-е гг. Деятельность Избранной рады.</a></li>
                  <li class="menu-child-item"><a href="#">1550 Издание «Судебника» Ивана IV. Создание стрелецкого войска.</a></li>
                </ul>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#"><span></span>17 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">1605 – 1606 Правление Лжедмитрия I.</a></li>
                  <li class="menu-child-item"><a href="#">1608 Начало похода Лжедмитрия II на Москву. Создание «Тушинского лагеря».</a></li>
                  <li class="menu-child-item"><a href="#">1613 – 1645 Царствование Михаила Федоровича.</a></li>
                  <li class="menu-child-item"><a href="#">1648 «Соляной бунт» в Москве. Восстания в Сольвычегорске, Великом Устюге, Соликамске, Козлове, Курске, Воронеже, Томске, Сургуте и др. Люди требовали отмены налога на соль.</a></li>
                  <li class="menu-child-item"><a href="#">1662, 25 – 26 июль «Медный бунт» в Москве</a></li>
                  <li class="menu-child-item"><a href="#">1670 – 1671 Крестьянско-казацкое восстание под предводительством С. Т. Разина (казнен 26 апреля 1671).</a></li>
                </ul>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#"><span></span>18 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">1700 – 1721 Северная война России со Швецией.</a></li>
                  <li class="menu-child-item"><a href="#">1725 – 1727 Царствование императрицы Екатерины I.</a></li>
                  <li class="menu-child-item"><a href="#">1727 – 1730 Царствование императора Петра II (сына царевича Алексея).</a></li>
                  <li class="menu-child-item"><a href="#">1741 – 1761 Царствование императрицы Елизаветы Петровны, дочери Петра. Возведена на престол в результате дворцового переворота (25 ноября 1741).</a></li>
                  <li class="menu-child-item"><a href="#">1762 – 1796 Царствование императрицы Екатерины II.</a></li>
                  <li class="menu-child-item"><a href="#">1773 – 1775 Крестьянско-казацкое восстание под предводительством Е. И. Пугачева.</a></li>
                </ul>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#">19 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">1801 – 1825 Царствование императора Александра</a></li>
                  <li class="menu-child-item"><a href="#">1825 – 1855 Царствование императора Николая I.</a></li>
                  <li class="menu-child-item"><a href="#">1856, 18 (30) мар. Парижский мир, завершивший Крымскую войну. Нейтрализация Черного моря с запрещением России и Турции держать на нем военный флот, отмена исключительного протектората России над Дунайскими княжествами.</a></li>
                  <li class="menu-child-item"><a href="#">1861, 19 фев. Манифест об освобождении крестьян от крепостной зависимости.</a></li>
                  <li class="menu-child-item"><a href="#">1881 – 1894 Правление императора Александра III.</a></li>
                  <li class="menu-child-item"><a href="#">1894 – 1917 Царствование императора Николая II</a></li>
                 
                </ul>
              </li>
              <li class="menu-item has-collapsible">
                <a href="#"><span></span>20 век</a>
                <ul class="menu-child">
                  <li class="menu-child-item"><a href="#">1927,15-й съезд ВКП(б). Курс на принудительную «коллективизацию» сельского хозяйства. Разгром «объединенной оппозиции» («троцкистско-зиновьевский блок»</a></li>
                  <li class="menu-child-item"><a href="#">1925 г, 14-й съезд РКП(б). Закрепление победы группы И. В. Сталина – Н. И. Бухарина. Провозглашение курса на «индустриализацию страны». Переименование РКП(б) во Всесоюзную КП(б).</a></li>
                  <li class="menu-child-item"><a href="#">1941 - 1945, Великая отечественная война</a></li>
                  <li class="menu-child-item"><a href="#">1946-1991, Холодная война</a></li>
                  <li class="menu-child-item"><a href="#">1991г.- распад СССР</a></li>
                  <li class="menu-child-item"><a href="#">25 декабря, 1991 года - переименование СССР в Российскую Федерацию</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    <div id="start-page">
        <div class="inner">
            <h1 class="txt">Получите фото историчесского события</h1>
            <p class="par">Просто выберите любое событие</p>
        </div>
            <div class="wrapper"> 
            <button target="_blank" id="btn" class="open-menu" ><span>Получить</span></button>
        </div>
    </div>
    
</body>
</html>